body{
    background-color: #f5d9df;
    font-family: "Nunito" , sans-serif;
}
#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link{
    color: white;
}
#mainNavbar .nav-link:hover{
    color: #ea1c2c;
}
#mainNavbar .navbar-brand{
    color: #ea1c2c;
}
#headingGroup span{
    color: #ea1c2c;
}
#headingGroup h1{
    font-weight: 100;
    font-size: 4rem;
}
@media (max-width: 1200px){
    body{
        
        font-size: 3rem;
    }
}
.bulb h2{
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}
.bulb p{
    color: rgb(218, 116, 131);
    font-weight: 100;
    font-size: 1.125rem;
    line-break: 2;
}
.content{
    margin-bottom: 100px;
    margin-top:100PX;
}
.navbar.scrolled{
    background:rgb(222,192,222);
    transition: background 400ms;
}
